h1 {
    color: #e51317;
}

body {
    text-align: center;
    font-size: 30px;
}

ul {
    font-style: oblique;
    font-weight: 500;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

head {
    line-height: inherit;
}